<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>RegisteredFilter</filter-name>
        <filter-class>sit.int202.exam.filter.RegisteredFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RegisteredFilter</filter-name>
        <servlet-name>CourseRegisterHistoryServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>CourseListServlet</servlet-name>
        <servlet-class>sit.int202.exam.servlet.CourseListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseRegisterHistoryServlet</servlet-name>
        <servlet-class>sit.int202.exam.servlet.CourseRegisterHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>sit.int202.exam.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearHistoryServlet</servlet-name>
        <servlet-class>sit.int202.exam.servlet.ClearHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCookiesServlet</servlet-name>
        <servlet-class>sit.int202.exam.servlet.ShowCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseListServlet</servlet-name>
        <url-pattern>/CourseList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseRegisterHistoryServlet</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearHistoryServlet</servlet-name>
        <url-pattern>/ClearHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCookiesServlet</servlet-name>
        <url-pattern>/ShowCookies</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
