<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>firstname</param-name>
        <param-value>Pathinya</param-value>
    </context-param>
    <context-param>
        <param-name>lastname</param-name>
        <param-value>Thonguam</param-value>
    </context-param>
    <display-name>Test</display-name>
    <servlet>
        <servlet-name>ServletMethod</servlet-name>
        <servlet-class>sit.int202.servlets.ServletMethod</servlet-class>
        <init-param>
            <param-name>arrival</param-name>
            <param-value>Hello</param-value>
        </init-param>
        <init-param>
            <param-name>departure</param-name>
            <param-value>Good Bye</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ServletRequestMethod</servlet-name>
        <servlet-class>sit.int202.servlets.ServletRequestMethod</servlet-class>
        <init-param>
            <param-name>paramName</param-name>
            <param-value>paramValue</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ServletResponseMethod</servlet-name>
        <servlet-class>sit.int202.servlets.ServletResponseMethod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorHanding</servlet-name>
        <servlet-class>sit.int202.servlets.ErrorHanding</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletContextMethod</servlet-name>
        <servlet-class>ServletContextMethod</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletMethod</servlet-name>
        <url-pattern>/method/one</url-pattern>
        <url-pattern>/others/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletObject</servlet-name>
        <servlet-class>sit.int202.servlets.ServletMethod</servlet-class>
        <init-param>
            <param-name>meeting</param-name>
            <param-value>Hi</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletObject</servlet-name>
        <url-pattern>/another/*</url-pattern>
        <url-pattern>/others</url-pattern>
        <url-pattern>/others/one</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRequestMethod</servlet-name>
        <url-pattern>/request/*</url-pattern>
        <url-pattern>/another/request/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletResponseMethod</servlet-name>
        <url-pattern>/response/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHanding</servlet-name>
        <url-pattern>/error/*</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/400.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>ServletContextMethod</servlet-name>
        <url-pattern>/context/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
